---
---
$baseurl: "{{ site.baseurl }}";

body {
	font-family:'Arial', 'sans-serif';
        /* overflow:hidden;     */
    position:relative;
    right:0;
    margin:0;
    /* z-index: 10000; */
    color: #686666;
    /* min-width:576px; */
    /* max-width:1600px; */
    // background-color:black;
}

.home-background {
    background:linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url($baseurl + "/images/home-background.jpg") no-repeat center;
	background-size: cover;
	width:100%;
    height:120vh;
    /* min-width:500px; */
	min-height:600px;
    margin:0;
    padding:0;
    /* position:relative; */
}

.website-design-background {
    background:linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url($baseurl + "/images/website-design-background.jpg") no-repeat center;
	background-size: cover;
	width:100%;
    height:80vh;
    /* min-width:500px; */
	min-height:350px;
    margin:0;
    padding:0;
    position:relative;
}

.seo-background {
    background:linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url($baseurl + "/images/seo-background.jpg") no-repeat center;
    // url($baseurl + "/images/seo-background2.jpg") no-repeat center;
    background-size: cover;
	width:100%;
    height:80vh;
    /* min-width:500px; */
	min-height:350px;
    margin:0;
    padding:0;
    position:relative;
}

.digital-marketing-background {
    background:linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url($baseurl + "/images/digital-marketing-background.jpg") no-repeat center;
	background-size: cover;
	width:100%;
    height:80vh;
    /* min-width:500px; */
	min-height:350px;
    margin:0;
    padding:0;
    position:relative;
}

// .topText {
// 	color:white;
// 	padding-top:25%;
// 	padding-left:70px;
// 	width:50%;
// /*	margin:0 auto;*/
//     text-align:left;
// }

// .topMessage {
// 	font-size:1rem;
// 	font-weight:lighter;
// 	line-height:55px;
// 	word-spacing: 0.6px;
// 	letter-spacing: 0.4px;
// }

// .jumbotron h1 {
//     font-size: 5em;
// }


.banner {

  /* background: #0F52BA; */
    // padding:40px 100px;


    /* position:absolute;
    bottom:0; */
    background: #4286f4;
    text-align: center;
    color:white;
    padding: 4.5vw 1.825vw;
}

.bannerBottom {
    
      /* background: #0F52BA; */
        // padding:40px 100px;
    
    
        /* position:absolute;
        bottom:0; */
        background: #4286f4;
        text-align: center;
        color:white;
        padding: 4.5vw 1.825vw;
    }

h1 {
    font-size:6.5vw;
    margin:5vw;
    line-height:9vw;
}

h2 {
    font-size:5vw;
    margin:0;
    line-height: 7.5vw;
}

h3 {
    font-size:3.75vw;
    margin:0;
    line-height: 6vw;
}

.bannerBottom h1 {
    margin:0;
}

.row {
    padding:0;
    margin:0;
}

.serviceHeading {
    padding: 4.5vw 1.825vw;
    text-align: center;
}

// .cross {
//     padding:0;
//     margin:0;
// }

.serviceContainer {
    display: flex;
}

// .serviceRow {
//     display: flex;
//     flex-direction:column;
// }

.serviceCols {
    // display:flex;
    // flex-direction:row;
    // justify-content: flex-start;

    // margin:2.5vw 0;
    // padding-top:40px;

    padding: 4.5vw 1.825vw;
    color: #656666;
}

.serviceCols:last-child {
    padding-bottom:9vw;
}

.serviceCols a {
    color: #656666;
    // display:block;
}

// .serviceCols:hover a {
//     color: #656666;
//     // display:block;
// }

.serviceCols a:hover {
    text-decoration: none;
}


.circular--square {
   border-radius: 50%;
    /* border: 4px solid #4286f4; */
}

.serviceIcon {
    width:30vw;
    // background-color: red;
}

.telNumber {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    // cursor:default;
}

.footerImg {
    width:80%;
    // vertical-align: middle;
    // background-color:red;
    // height:0;
    // background-color: red;
    min-height:1px; // STUPID IE FIX
    margin:0 auto;
}

.footerImg img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    // background-color:blue;
}

.serviceIcon img {
    display: block;
    margin: 0;
    height: auto;
    width: 100%;
}






.serviceText {
    // padding:0 0 0 20px;
    width:70vw;
    // background-color:green;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    // height:100%;
    padding-left:3.5vw;
}

.serviceText p {
    font-size: 3.2vw;
}

.toUpper {
    text-transform: uppercase;
    // font-weight:bold;
    // padding-bottom:0.5vw;

}

.bold {
    font-weight:bold;
    // margin:0;
}

.serviceText  {
    // padding-top:8px;
    color: #656666;
    text-decoration: none;
    margin-bottom:0;
}


// .serviceLink:hover {
//     text-decoration: none;
// }

// .serviceText:hover {
//     text-decoration:none;
// }

.serviceLink {
    margin:0;
}

.serviceLink a {
    text-decoration: underline;
    margin:0;

    // -webkit-transition: color 0.5s, text-decoration 1s; /* Safari */
    // transition: color 0.5s, text-decoration 1s;
}

.serviceLink a:hover {
    text-decoration: none;
}

// .serviceLink:hover {
//     text-decoration: none;
//     // color:          #4286f4;
// }

#map {
	width:100%;
	height: 40vh;
    // margin-top:4.5vw;
}

/* Menu */

nav {
    cursor:default;
    position:fixed;
	width:100%;
	top:0;
	right:0;
	z-index: 1;
    height:70px;
    display:inline-block;
}


nav ul {
	position:absolute; 
	/* top:0; */
	right:0;
	display:inline-block;
	font-weight: lighter;
	text-align: right;
	/* margin-right:10px; */
	/* list-style:none; */
	/* cursor:default; */
    padding-top:18px;
    /* margin-left:100px; */
	margin-right:1.825vw;
}

nav ul li a {
	color:white;
	text-decoration: none;
	/* padding-bottom:5px;
	padding-top:20px; */
	padding-bottom:5px;
	padding-top:20px;
}

nav ul li a:hover {
text-decoration: none;
color:white;
}


nav ul li {
	font-size: 1.6rem;
	margin-left:1.825vw;
	display:inline-block;
	color:white;
	position:relative;
}


nav ul li ul {
    display: none;
    position: absolute;
	top:45px;
	left:-10px;
    background-color: white;
    width: 160px;
    padding:0;
	margin:0;
    z-index: 5;
	border-radius: 3px;
}

nav ul li:hover ul {
    display: inline-block;
	text-align: left;
}

nav ul li ul li {
	width:100%;
	font-size: 1.6rem;
    margin-left:0px;
	border-bottom:1px solid lightgrey;
}

nav ul li ul li a:hover {
    color:grey;
}

nav ul li ul li a {
	width:100%;
	color:grey;
	padding:10px;
}

nav ul li ul li:last-child{
	border-bottom:none;
}

// nav ul li ul li .hvr-underline-from-left:before {
//   background: #4286f4;
//   height: 2px;
//   -webkit-transition-duration: 0.4s;
//   transition-duration: 0.4s;
//   -webkit-transition-timing-function: ease;
//   transition-timing-function: ease;
// }

// .menu ul li .hvr-underline-from-left:before {
//     background: #4286f4;
//     height: 2px;
//     -webkit-transition-duration: 0.4s;
//     transition-duration: 0.4s;
//     -webkit-transition-timing-function: ease;
//     transition-timing-function: ease;
//   }

nav img {
	margin-top:20px;
	margin-left:1.825vw;
	// margin-left:10px;
}

.newNav {
	position:fixed;
	width:100%;
	top:-80px;
	right:0;
	z-index: 99;
	height:70px;
	background-color:rgba(255,255,255,0.95);
	box-shadow: 1px 1px 5px lightgrey;
    display:inline-block;
}

.newNav ul {    
	font-weight: lighter;
	text-align: right;
	margin-right:1.825vw;
	display:inline-block;
	position:absolute;
	right:0;
	/* list-style:none; */
	/* cursor:default; */
    padding-top:18px;
    /* top: -80px; */
}


.newNav ul li a {
	/*font-size: 0.8em;*/
	color:grey;
	text-decoration: none;
	padding-top:5px;
	padding-bottom:6px;
}

.newNav ul li {
	margin-left:1.825vw;
	display:inline-block;
	position:relative;
	font-size: 1.6rem;
}

.newNav ul li ul {
	    display: none;
    position: absolute;
	top:30px;
	left:-10px;
    background-color: white;
    width: 160px;
    padding:0;
	margin:0;
    z-index: 5;
	border-radius: 3px;
}

.newNav ul li:hover ul {
    display: inline-block;
	text-align: left;
}

.newNav ul li ul li {
	width:100%;
	font-size: 1.6rem;
    margin-left:0px;
	border-bottom:1px solid lightgrey;
}

.newNav ul li ul li a {
	width:100%;
	color:grey;
	padding:10px;
}

.newNav ul li ul li:last-child{
	border-bottom:none;
}

// .newNav ul li ul li .hvr-underline-from-left:before {
//   background: #4286f4;
//   height: 2px;
//   -webkit-transition-duration: 0.4s;
//   transition-duration: 0.4s;
//   -webkit-transition-timing-function: ease;
//   transition-timing-function: ease;
// }

.newNav img {
	margin-top:5px;
	margin-left:1.825vw;
}

.slideNewNavDown {
	transition: transform 0.5s;
	transform: translateY(80px);
}


// nav .hvr-underline-from-left:before {
//     background: #4286f4;
//   height: 2px;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-timing-function: ease;
//   transition-timing-function: ease;
// }

.hvr-underline-from-left:before {
  background: #4286f4;
  height: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}












// .hvr-underline-from-none {
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-transform: perspective(1px) translateZ(0);
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px transparent;
//   position: relative;
//   overflow: hidden;
// cursor:default;

// }

// .hvr-underline-from-none:before {
//   cursor:default;
//   content: "";
//   position: absolute;
//   z-index: -1;
//   left: 0;
//   right: 100%;
//   bottom: 0;
//   /*background: #2098D1;*/
//   /*height: 4px;*/
//   -webkit-transition-property: right;
//   transition-property: right;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-timing-function: ease-out;
//   transition-timing-function: ease-out;
// }
// .hvr-underline-from-none:hover:before, .hvr-underline-from-none:focus:before, .hvr-underline-from-none:active:before {
//   right: 0;
// }



.eqHeight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.eqHeight > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
















.footerRow {
    // background-color:rgb(240,245,255); 
    // background-color:hsl(217, 96.5%, 96.5%);
    // background-color:   #EDF4FF; light blue
    background-color:#eeeeee;
    color: #656666;
    text-align: center;
}

.copyrightRow {
    color:#eeeeee;
    background-color: #656666;

    // background-color:hsl(217, 98%, 98%);
    // background-color:#F5F9FF; light blue
}


.footerCols {
    // text-align: left;   
    padding: 4.5vw 1.825vw;

    // background-color:red; 

}

.copyright {
    padding: 4.5vw 1.825vw;
    // display: block;
    // vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border-top: 1px solid white;
}

.copyright p {
    font-size: 3.2vw;
    margin:0;
    text-align: center;
}

.copyright ul li a {
    color: #eee;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
}

.copyright ul li a:hover {
    color: #4286f4;
}

.copyright i {
    font-size: 6.5vw;
}

.copyright ul {
    cursor: default;
    display:inline-block;
    list-style: none;
    text-align: center;
    margin:0;
    padding:0;
}

.copyright ul li{
    display:inline-block;
    
    // margin-left:10px;

    margin-left:4.5vw;
}

.copyright ul li:first-child{
    margin-left:0;
}


.footerCols:last-child {
    padding-bottom:9vw;
}

.footerCols h3 {
    padding: 4.5vw 0;
}

.footerCols p {
font-size: 3.5vw;
}

.footerCols p span:first-child {
    padding-top:4.5vw;
}

.footerCols p span {
    display:block;
}

.footerCols ul {
    list-style: none;
    // padding:2vw;
    // margin:0;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:0;
    margin:0;
}

.footerCols ul li img {
    // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(100%);
    display: block;
    // margin: 0;
    height: auto;
    width: 20vw;
    padding: 3.65vw 0vw;
}


// .blockImg {
//     /* background-color: grey; */
//     // margin:20px 0 20px 0;
//     display: block;
//     // align-items: center;
//     // justify-content: center;
//     /* text-align: center; */
//     max-width:100%;
//     height:auto;
// }

// .blockImg img{
//     height:auto;
//     // width:75%;
// }

.footerBanner {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background:white;
}

// .footerImage {
//     width:135px;    
// }

// .footerImage img {
//     height:auto;
//     width:100%;
// }

.body-container {
    padding:0;
    background:white;
    margin:0;
}





.menu {
  right: -270px;
  height: 100%;
  position: fixed;
  width: 270px;
z-index: 5;
background:rgba(255,255,255,0.95);
/* box-shadow: 1px 1px 10px grey; */
}




.jumbotron {
  /* background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 100%; */
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {

  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
color:grey;
}

.icon-close {
  cursor: pointer;
}

.icon-menu {
  /* color: #fff;   */
  cursor: pointer;
 display:inline-block;
  /* font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none; */
  padding-top:14px;
}

.icon-menuBottom {
    display:inline-block;
  /* color: #000;   */
  cursor: pointer;
  /* font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none; */
 /* padding-top:2px;  */
}


@media all {
    nav ul li:last-child {
        display:inline-block;
     }
    
     nav ul li:not(:last-child) {
        display:none;
    }
    
    
     .newNav ul li:last-child {
        display:inline-block;
     }
    
     .newNav ul li:not(:last-child) {
        display:none;
    }

}

@media (min-width: 576px) { 
}


// when width becomes >= 768px
@media (min-width: 768px) { 

// .blockImg img{
    
//         width:70%;
//     }


// nav img {
//      margin-left:70px;   
//  }

//  nav ul {
//      margin-right:70px;
//  }

// .newNav img {
//      margin-left:70px;
//  }

//  .newNav ul {
//      margin-right:70px;
//  }

//  .serviceIcon img {
//     width:40%;}


}


@media (min-width: 992px) { 

    // .footerText {
    //     text-align: left;
    // }
    
    // .blockImg img{
    
    //     width:100%;
    // }

nav ul li:last-child {
    display:none;
 }

 nav ul li:not(:last-child) {
    display:inline-block;
}


 .newNav ul li:last-child {
    display:none;
 }

 .newNav ul li:not(:last-child) {
    display:inline-block;
}

 


// .serviceIcon img {

//     width:100%;}




.banner {
    padding: 3.075vw 1.825vw;
}

.serviceHeading {
    padding: 3.075vw 1.825vw;
    text-align: center;
}


// .serviceCols:last-child {
//     padding-right: 1.825vw;
// }

.serviceIcon {
    width:9.975vw;
}

.eqHeight {
    // display:flex;
    justify-content: space-between;
}


.serviceCols {
    width: 30.9vw;
    padding: 3.075vw 0vw;
}

.serviceCols:last-child {
    padding-bottom:6.15vw;
}

.footerCols {
    // width: 29.947vw;
    width: 22.71875vw;
    padding: 3.075vw 0vw;
}

.footerCols:last-child {
    padding-bottom:3.075vw;
}

.footerImg {
    width:100%;
}

.copyright {
    // align-items: row;
    padding: 1vw 1.825vw;;
}

.copyright ul {
    text-align: right;
}

.copyright ul li{
    display:inline-block;
    
    margin-left:1.5vw;
}

.copyright p {
    font-size: 1.2vw;
    margin:0;
    text-align: left;
}

.copyright i {
    font-size: 2.2vw;
}

.copyright:last-child {
    text-align: right;
}

.serviceText {
    width:21.025vw;
    padding-left:1.5vw;
}

.serviceText p {
    font-size: 1.2vw;
}

h1 {
    font-size:3.25vw;
    margin:0;
}

.bannerBottom h1 {
    margin:0;
    font-size:3vw;

    // font-size:6.5vw;
    line-height:5vw;


}

h2 {
    font-size:2.25vw;
    margin:0;
    line-height: 3.375vw;
}

h3 {
    font-size:1.875vw;
    margin:0;
    line-height: 3vw;
}

.footerCols h3 {
    font-size:1.875vw;
    // padding:0;
    padding: 2.25vw 0;
    // line-height: 3.375vw;
}

.footerCols p span:first-child {
    padding-top:2.25vw;
}

.footerCols p {
    font-size: 1.2vw;
    line-height: 2vw;
}

.footerRow {
    text-align: left;
}

// .spacing {
//     margin-top: 10vw;
// }

// .footerCols ul li {
//     display:inline-block;
//     // margin-right:2vw;
//     // margin-bottom:2vw;
// }


.footerCols ul {
    list-style: none;
    // padding:2vw;
    // margin:0;
    display:flex;
    align-items: center;
    // flex-wrap:nowrap;
    justify-content: space-around;
    padding:0;
    margin:0;
}


.footerCols ul li img {
    // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(100%);
    display: block;
    // margin: 0;
    height: auto;
    width: 4vw;
    // padding-right:1.825vw;
    // display: block;
    // // margin: 0;
    // height: auto;
    // width: 29vw;

    padding: 1.5vw 0vw;


}














}


@media (min-width: 1200px) {
}




/* .burger {
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1.5s ease-in-out;
  -webkit-transition: border-bottom 1.5s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.75s ease-in-out;
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.75s ease-in-out;
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
}
.burger.open {
  border-bottom: 4px solid transparent;
  transition: border-bottom 1.2s ease-in-out;
  -webkit-transition: border-bottom 1.2s ease-in-out;
}
.burger.open:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.75s ease-in-out;
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
}
.burger.open:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.75s ease-in-out;
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
} */

/* small {
  font-size: 10px;
} */


.bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.2s;
}

/* Rotate first bar */
.change .bar1 {
    /* -webkit-transform: rotate(-45deg) translate(-6px, 6px) ; */
    transform: translate3d(8px, 4px, 0) rotate(45deg) scale(0.7, 1);

    /* border-bottom: 4px solid transparent;
    transition: border-bottom 1.2s ease-in-out;
    -webkit-transition: border-bottom 1.2s ease-in-out; */
}

/* Fade out the second bar */
.change .bar2 {

    transform: rotate(-180deg);
    /* transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.75s ease-in-out;
    -webkit-transition: -webkit-transform 0.75s ease-in-out; */
}

/* Rotate last bar */
.change .bar3 {
    transform: translate3d(8px, -4px, 0) rotate(-45deg) scale(0.7, 1);
    /* transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.75s ease-in-out;
    -webkit-transition: -webkit-transform 0.75s ease-in-out; */
}