---
---
$baseurl: "{{ site.baseurl }}";

body {
    font-family: 'PT Sans', 'sans-serif';
    position: relative;
    right: 0;
    margin: 0;
    color: #4F4D4F;
    background: ghostwhite;
}

.bg {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height:350px;
    height: 60vh;
}

.bg.home {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($baseurl + "/images/home-background.jpg") no-repeat center;
    height: 120vh;
    min-height: 600px;
    background-size: cover;
}

.bg.website-design {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($baseurl + "/images/home-background.jpg") no-repeat center;
    background-size: cover;
}

.bg.seo {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($baseurl + "/images/home-background.jpg") no-repeat center;    
    background-size: cover;
}

.bg.digital-marketing {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($baseurl + "/images/home-background.jpg") no-repeat center;    
    background-size: cover;
}

.bg.blog {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($baseurl + "/images/home-background.jpg") no-repeat center;
    background-size: cover;
}

.banner {
    background: #4286f4;
    // background: #a88e2d;
    text-align: center;
    color: white;
    padding: 4.5vw 1.825vw;
}

.banner.contact {
    background: orange;
}

.row.eqHeight.icons {
    text-align: center;
    padding: 3vw 1.825vw;
}

.row.eqHeight.icons.secondRow {
    padding:0 1.825vw 3vw 1.825vw;
}

.icons img {
    margin:20px auto;
    width:40px;
    height:auto;
}

.shadow {
    box-shadow: 0px 0px 5px silver;
}

// .shadowLight {
//     box-shadow: 0px 0px 30px silver;
// }

.banner h2 a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 6.5vw;
    margin: 5vw;
    line-height: 9vw;
}

h2 {
    font-size: 5vw;
    margin: 0;
    line-height: 7.5vw;
}

h3 {
    font-size: 4vw;
    margin: 0;
    line-height: 6vw;
    color: #767376;
}

h1.splash {
    text-align: left;
    color: white;
    padding: 30vh 0 0 1.825vw;
    margin: 0;
    line-height: 12.5vw;
    font-size: 6.5vw;
}

h2.splash {
    text-align: left;
    color: white;
    padding: 0 0 0 1.825vw;
    margin: 0;
    font-size: 5vw;
    line-height: 7.2vw;
}

h1.splash span {
    display: block;
}

h2.splash span {
    display: block;
}

.row {
    padding: 0;
    margin: 0;
}

.greybg {
    background: #f5f5f5;
}

.greyerbg {
    background: #eee;
}

.darkgreybg {
    background: #bbb;
}

.featuresContainer {
    display: flex;
}

.features {
    text-align: center;
    padding: 4.5vw 5.825vw;
}

.featuresPadding {
    padding: 4.5vw 1.825vw;
}

.serviceTextBox {
    font-size: 3.2vw;
    // color: #4F4D4F;
}

.serviceTextBoxHeading {
    font-size: 3.2vw;
    // color: #4F4D4F;
}

.features ul {
    list-style: none;
    background-color: ghostwhite;
    padding: 0;
}

.features ul li {
    text-align: center;
    font-size: 3.2vw;
    padding: 1vw;
    border-bottom: 1px solid #eee;
    width: 90%;
    margin: 0 auto;
}

.features ul li:last-child {
    border-bottom: none;
}

.features ul h2 {
    padding: 1vw;
}

ul.blog {
    list-style: none;
    background-color: ghostwhite;
    padding: 0;
}

ul.blog li {
    text-align: center;
    font-size: 3.2vw;
    padding: 1vw;
    border-bottom: 1px solid #eee;
    width: 90%;
    margin: 0 auto;
}

ul.blog li:last-child {
    border-bottom: none;
}

ul.blog h2 {
    padding: 1vw;
}

.blogRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceDetail {
    font-size: 1.5vw;
    text-align: center;
}

.serviceHeading {
    padding: 4.5vw 1.825vw;
    text-align: center;
}

.serviceHeading.Why {
    background:whitesmoke;
}

.serviceContainer {
    display: flex;
}

.serviceCols {
    padding: 4.5vw 1.825vw;
    color: #656666;
}

.serviceCols:last-child {
    padding-bottom: 9vw;
}

.serviceImage {
    background-color: #656666;
}

.serviceCols a {
    color: #656666;
}

.serviceCols a:hover {
    text-decoration: none;
}

.circular--square {
    border-radius: 50%;
}

.serviceIcon {
    width: 25vw;
}

.telNumber {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.footerImg {
    width: 80%;
    min-height: 1px; // IE FIX
    margin: 0 auto;
}

.footerImg img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}

.featuresImg {
    width: 80%;
    min-height: 1px; // IE FIX
    margin: 0 auto;
}

.featuresImg img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}

.serviceIcon img {
    display: block;
    margin: 0;
    height: auto;
    width: 100%;
}

.serviceText {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3.5vw;
}

// .spacer {
//     border-bottom:1px solid lightgrey;
// }

.serviceText p {
    font-size: 4vw;
}

.toUpper {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.serviceText {
    color: #656666;
    text-decoration: none;
    margin-bottom: 0;
}

.serviceLink {
    margin: 0;
}

.serviceLink a {
    text-decoration: underline;
    margin: 0;
}

.serviceLink a:hover {
    text-decoration: none;
}

#map {
    width: 100%;
    height: 40vh;
}

// Menu
nav {
    cursor: default;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    height: 70px;
    display: inline-block;
}

nav ul {
    position: absolute;
    right: 0;
    display: inline-block;
    font-weight: lighter;
    text-align: right;
    padding-top: 18px;
    margin-right: 1.825vw;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 20px;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
}

nav ul li {
    font-size: 1.6rem;
    margin-left: 1.825vw;
    display: inline-block;
    color: white;
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 45px;
    left: -10px;
    background-color: white;
    width: 150px;
    padding: 0;
    margin: 0;
    z-index: 5;
    border-radius: 3px;
}

nav ul li:hover ul {
    display: inline-block;
    text-align: left;
}

nav ul li ul li {
    width: 100%;
    font-size: 1.6rem;
    margin-left: 0px;
    border-bottom: 1px solid lightgrey;
}

nav ul li ul li a:hover {
    color: grey;
}

nav ul li ul li a {
    width: 100%;
    color: grey;
    padding: 10px;
}

nav ul li ul li:last-child {
    border-bottom: none;
}

nav img {
    margin-top: 20px;
    margin-left: 1.825vw;
}

.newNav {
    position: fixed;
    width: 100%;
    top: -80px;
    right: 0;
    z-index: 99;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.95);
    // box-shadow: 1px 1px 5px lightgrey;
    display: inline-block;
}

.newNav ul {
    font-weight: lighter;
    text-align: right;
    margin-right: 1.825vw;
    display: inline-block;
    position: absolute;
    right: 0;
    padding-top: 18px;
}

.newNav ul li a {
    color: grey;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 6px;
}

.newNav ul li {
    margin-left: 1.825vw;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
}

.newNav ul li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    background-color: white;
    width: 150px;
    padding: 0;
    margin: 0;
    z-index: 5;
    border-radius: 3px;
}

.newNav ul li:hover ul {
    display: inline-block;
    text-align: left;
}

.newNav ul li ul li {
    width: 100%;
    font-size: 1.6rem;
    margin-left: 0px;
    border-bottom: 1px solid lightgrey;
}

.newNav ul li ul li a {
    width: 100%;
    color: grey;
    padding: 10px;
}

.newNav ul li ul li:last-child {
    border-bottom: none;
}

.newNav img {
    margin-top: 5px;
    margin-left: 1.825vw;
}

.slideNewNavDown {
    transition: transform 0.5s;
    transform: translateY(80px);
}

.hvr-underline-from-left:before {
    background: #4286f4;
    height: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.eqHeight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.eqHeight>[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footerRow {
    background-color: #eeeeee;
    color: #656666;
    text-align: center;
}

.copyrightRow {
    color: #eeeeee;
    background-color: #656666;
}

.footerCols {
    padding: 4.5vw 1.825vw;
}

.copyright {
    padding: 4.5vw 1.825vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.copyright p {
    font-size: 2.8vw;
    margin: 0;
    text-align: center;
}

.copyright ul li a {
    color: #eee;
    -webkit-transition: color 0.5s;
    /* Safari */
    transition: color 0.5s;
}

.copyright ul li a:hover {
    color: #4286f4;
}

.copyright i {
    font-size: 6.5vw;
}

.copyright ul {
    cursor: default;
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.copyright ul li {
    display: inline-block;
    margin-left: 4.5vw;
}

.copyright ul li:first-child {
    margin-left: 0;
}

.footerCols:last-child {
    padding-bottom: 9vw;
}

.footerCols h3 {
    padding: 4.5vw 0;
}

.footerCols p {
    font-size: 4vw;
}

.footerCols p span:first-child {
    padding-top: 4.5vw;
}

.footerCols p span {
    display: block;
}

.footerCols ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.footerCols ul li img {
    display: block;
    height: auto;
    width: 20vw;
    padding: 3.65vw 0vw;
}

.footerBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: ghostwhite;
}

.body-container {
    padding: 0;
    background: ghostwhite;
    margin: 0;
}

.menu {
    right: -270px;
    height: 100%;
    position: fixed;
    width: 270px;
    z-index: 5;
    background: rgba(255, 255, 255, 0.95);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}

.icon-close {
    cursor: pointer;
}

.icon-menu {
    cursor: pointer;
    display: inline-block;
    padding-top: 14px;
}

.icon-menuBottom {
    display: inline-block;
    cursor: pointer;
}

.nameEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputField {
    width: 49%;
    font-size: 1.2vw;
    padding: 0.5vw;
}

.textBox {
    margin-top: 15px;
    width: 100%;
    font-size: 1.2vw;
    padding: 0.5vw;
}

@media all {
    nav>ul>li:last-child {
        display: inline-block;
    }
    nav>ul>li:not(:last-child) {
        display: none;
    }
    .newNav>ul>li:last-child {
        display: inline-block;
    }
    .newNav>ul>li:not(:last-child) {
        display: none;
    }
}

@media (min-width: 576px) {
    h1.splash {
        font-size: 5.4vw;
        line-height: 8.6vw;
    }
    h2.splash {
        font-size: 3.75vw;
        line-height: 6vw;
    }
}

@media (min-width: 768px) {
    h1.splash {
        font-size: 5vw;
        line-height: 8vw;
    }
    h2.splash {
        font-size: 2.7vw;
        line-height: 4.3vw;
    }
}

@media (min-width: 992px) {
    h1.splash {
        font-size: 3.25vw;
        line-height: 5.2vw;
    }
    h2.splash {
        font-size: 1.8vw;
        line-height: 2.9vw;
    }
    nav>ul>li:last-child {
        display: none;
    }
    nav>ul>li:not(:last-child) {
        display: inline-block;
    }
    .newNav>ul>li:last-child {
        display: none;
    }
    .newNav>ul>li:not(:last-child) {
        display: inline-block;
    }
    .serviceTextBox {
        font-size: 1.5vw;
    }
    .serviceTextBoxHeading {
        font-size: 1.5vw;
    }
    .banner {
        padding: 3.075vw 1.825vw;
    }
    .serviceHeading {
        padding: 3.075vw 1.825vw;
    }
    .serviceIcon {
        width: 7.975vw;
    }
    .eqHeight {
        justify-content: space-between;
    }
    .serviceCols {
        width: 30.9vw;
        padding: 3.075vw 0vw;
    }
    .serviceCols:last-child {
        padding-bottom: 6.15vw;
    }
    .footerCols {
        width: 22.71875vw;
        padding: 3.075vw 0vw;
    }
    .footerCols:last-child {
        padding-bottom: 3.075vw;
    }
    .footerImg {
        width: 100%;
    }
    .featuresImg {
        width: 100%;
    }
    .copyright {
        padding: 1vw 1.825vw;
        ;
    }
    .copyright ul {
        text-align: right;
    }
    .copyright ul li {
        display: inline-block;
        margin-left: 1.5vw;
    }
    .copyright p {
        font-size: 1vw;
        margin: 0;
        text-align: left;
    }
    .copyright i {
        font-size: 2.2vw;
    }
    .copyright:last-child {
        text-align: right;
    }
    .serviceText {
        width: 23.025vw;
        padding-left: 1.5vw;
    }
    .serviceText p {
        font-size: 1.2vw;
    }
    h1 {
        font-size: 3.25vw;
        margin: 0;
    }
    h2 {
        font-size: 2.25vw;
        margin: 0;
        line-height: 3.375vw;
    }
    h3 {
        font-size: 1.875vw;
        margin: 0;
        line-height: 3vw;
    }
    .footerCols h3 {
        font-size: 1.875vw;
        padding: 2.25vw 0;
    }
    .footerCols p span:first-child {
        padding-top: 2.25vw;
    }
    .footerCols p {
        font-size: 1.2vw;
        line-height: 2vw;
    }
    .footerRow {
        text-align: left;
    }
    .footerCols ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
    .footerCols ul li img {
        display: block;
        height: auto;
        width: 4vw;
        padding: 1.5vw 0vw;
    }
    .featuresContainer {
        display: flex;
    }
    .features {
        display: flex;
        text-align: center;
        padding: 3.075vw 1.825vw;
        align-items: center;
    }
    .featuresPadding {
        padding: 3.075vw 1.825vw;
    }
    .features ul {
        list-style: none;
        background-color: ghostwhite;
        width: 20vw;
        padding: 0;
    }
    .features ul li {
        font-size: 1.2vw;
        padding: 0.75vw;
        width: 80%;
    }
    .features ul h2 {
        padding: 0.75vw;
    }
    .serviceDetail {
        font-size: 1.5vw;
        text-align: left;
    }
}

@media (min-width: 1200px) {}

// Hamburger
.bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.2s;
    border-radius: 4px;
}

.change .bar1 {
    transform: translate3d(8px, 4px, 0) rotate(45deg) scale(0.7, 1);
}

.change .bar2 {
    transform: rotate(-180deg);
}

.change .bar3 {
    transform: translate3d(8px, -4px, 0) rotate(-45deg) scale(0.7, 1);
}