---
layout: page
title: Toronto Web Design Development SEO PPC Contact - Fivestar Media
lang: en
ref: contact
permalink: /contact/
---
<body>
	{% include menu.html %}
	<div class="jumbotron bg contact-us"></div>
	<div class="banner">
		<h2>Thank you for your interest in Fivestar Media. You may use the Contact Form below, call us at {% include telnumberlink.html %} or send us an email at {% include emaillink.html %} at your convenience.</h2>
	</div>
	<div class="body-container">
		<div class="row eqHeight">
			<div class="col-xs-12 col-md-6 featuresPadding">
				<form id="contactform" method="POST">
				<div class="nameEmail">
					<input type="text" name="name" placeholder="Your name" class="inputField">
					<input type="email" name="_replyto" placeholder="Your email" class="inputField">
				</div>
					<input type="hidden" name="_subject" value="Fivestar Media Contact Page" />
					<input type="hidden" name="_next" value="{{ site.baseurl }}/thank-you/" />
					<textarea name="message" placeholder="Your message" class="textBox" rows="10"></textarea>
					<input type="text" name="_gotcha" style="display:none" />
					<input type="submit" value="Send">
				</form>
				{% include contactsend.html %}
			</div>
			<div class="col-xs-12 col-md-6 featuresPadding">
				<div class="serviceDetail">
					<p class="toUpper bold serviceTextBox">Beautiful Websites</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>