---
layout: page
title: Brampton Vaughan Website Design, SEO, PPC
lang: en
ref: seo
permalink: /search-engine-optimization-seo/
---
<body>
	{% include menu.html %}
	<div class="jumbotron bg seo">
		<!-- <h1 class="splash">Website Design</h1>
		<h2 class="splash"><span>Your website is your company's</span><span>first impression, so make it.</span><span>the best.</span></h2> -->
	</div>
	<div class="banner">
			<h2>We build the best websites.</h2>		
		<!-- <h2>Fast, modern and elegant websites that increase your brand perception and are easy to use.</h2> -->
	</div>
	<div class="body-container">
		<div class="row">
			<div class="col-xs-12 serviceHeading">
				<h1>Search Engine Optimization</h1>
				<h3>It takes more than just having a website to bring you more leads. Now that you have an online presence, you're also competing with other companies who also want the attention of your potential clients. Fivestar's SEO services increase your ranking in search engines organically which results in increased leads. We audit your website and research your competitors and clients to make a detailed SEO strategy for superior results.</h3>
				<!-- <h3>At Fivestar Media, we know the best websites should engage the user with compelling content balanced with eye-catching visuals. The website should be optimized to rank well with search engines, work seamlessly across all devices and be easy to use with a fast load time.</h3> -->
			</div>
		</div>
		<div class="row eqHeight icons greybg">
			<div class="col-xs-12 col-md-3">
				<img src="{{ site.baseurl }}/images/no-contract.png">
				<h3>No Contracts</h3>
				<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/audit.png">
					<h3>SEO Audit</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/strategy.png">
					<h3>SEO Strategy</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/keyword-research.png">
					<h3>Keyword Research</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
	
			</div>
			<div class="row eqHeight icons greybg secondRow">
					<div class="col-xs-12 col-md-3">
							<img src="{{ site.baseurl }}/images/google.png">
							<h3>Google Optimization</h3>
							<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
					</div>
		
					<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/bing-ads.png">
					<h3>Bing Optimization</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/content-writing.png">
					<h3>Content Writing</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>	

			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/review.png">
					<h3>Reviews</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
		</div>
		<div class="row">
				<div class="col-xs-12 serviceHeading">
					<h1>SEO Process</h1>
					<h3>The SEO process </h3>
					<!-- <h3>At Fivestar Media, we know the best websites should engage the user with compelling content balanced with eye-catching visuals. The website should be optimized to rank well with search engines, work seamlessly across all devices and be easy to use with a fast load time.</h3> -->
				</div>
		</div>
		<div class="row eqHeight">
			<div class="col-xs-12 col-md-7 featuresPadding">
				<div class="featuresImg">
					<img src="{{ site.baseurl }}/images/template.png">
				</div>
			</div>
			<div class="col-xs-12 col-md-5 featuresPadding">
				<div class="serviceDetail">
					<h2>1. SEO Audit</h2>
					<h3>The first step of the SEO process is understand the starting position of your site within search engines. We analyze the current traffic your site is getting along with relevant site statistics (keywords, bounce rates, etc.). Understanding the traffic level and its source of referrals helps in making other online marketing decisions.</h3>
				</div>
			</div>
		</div>

		<div class="row eqHeight">
			<div class="col-xs-12 col-md-5 featuresPadding">
				<div class="featuresImg">
					<img class="shadow" src="{{ site.baseurl }}/images/custom.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-md-7 featuresPadding">
				<div class="serviceDetail">
						<h2>2. Keyword and Market Research</h2>
						<h3>Next, we identify a set of keyword phrases that will be used for optimization. This important step requires balancing two important factors: high usage by searchers and relatively low competition within search engines. This ensures that your site is built to be found with searchers in mind.</h3>
						<h3>Using the target keyword phrases, we do a competitive analysis of your site against its biggest competitors. We use a variety of SEO metrics including indexed content, Alexa rating, inbound links, domain age, social media following among others.</h3>
						<h3>From this, we are able to gauge your site's starting position relative to your competitors, exploit their weaknesses and adjust the SEO plan accordingly.</h3>
					</div>
			</div>
		</div>
		<div class="row eqHeight">
			<div class="col-xs-12 col-md-7 featuresPadding">
				<div class="serviceDetail">
						<h2>3. Goal Setting</h2>
						<h3>Once we have a snapshot of your site's starting position, we set goals for the SEO plan. These goals are measurable	and relate to the specific business objectives of the site. In the ongoing process of Conversion Rate Optimization, progress towards the goals are analyzed and if required, adjusted accordingly.</h3>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 featuresPadding">
				<div class="featuresImg">
					<img class="shadow" src="{{ site.baseurl }}/images/template-plus.jpg">
				</div>
			</div>
		</div>
		<div class="row eqHeight">
			<div class="col-xs-12 col-md-7 featuresPadding">
				<div class="serviceDetail">
						<h2>4. Page Optimization</h2>
						<h3>This process involves ensuring all elements that make up the content of every page within your site are related to the content itself. Elements include keywords, title tag, description tag, headings, internal linking, website structure and other factors. Images are also compressed and redundant code is removed for increased page load speed.</h3>
						<h3>As the content on each page is different throughout your site, this is done individually for each page for optimal results.</h3>
					</div>
			</div>
			<div class="col-xs-12 col-md-5 featuresPadding">
				<div class="featuresImg">
					<img class="shadow" src="{{ site.baseurl }}/images/enterprise.jpg">
				</div>
			</div>
		</div>
		<div class="row eqHeight">
				<div class="col-xs-12 col-md-5 featuresPadding">
					<div class="featuresImg">
						<img class="shadow" src="{{ site.baseurl }}/images/template-plus.jpg">
					</div>
				</div>
				<div class="col-xs-12 col-md-7 featuresPadding">
						<div class="serviceDetail">
								<h2>5. Link Building</h2>
								<h3>The amount of inbound links to your site is one of the most important factors for your website's search ranking. We produce high quality inbound links to your site using social media, local directories, press releases and a variety of other means.</h3>
								<h3>Quality link building takes time and is an important factor of long-term SEO success.</h3>
							</div>
					</div>
		</div>
		<div class="row eqHeight">
			<div class="col-xs-12 col-md-7 featuresPadding">
				<div class="serviceDetail">
						<h2>6. Conversion Rate Optimization</h2>
						<h3>The same auditing process done in the initial phase of the campaign is done again at regular intervals after optimization. All key metrics including rankings, traffic levels, social media signals and others are compared to pre-optimization levels giving measurable results to the SEO campaign.</h3>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 featuresPadding">
				<div class="featuresImg">
					<img class="shadow" src="{{ site.baseurl }}/images/enterprise.jpg">
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="col-xs-12 serviceHeading">
				<h1>SEO Pricing</h1>
				<h3>Call us today at 416-464-6573 to learn more about our SEO packages. You can also use our Contact Form or send us an email at info@fivestarmedia.com.</h3>
			</div>
		</div>
		<div class="row eqHeight greybg featuresContainer">
			<div class="col-xs-12 col-md-3 features">
				<ul class="shadow">
					<h2 class="bold">Basic</h2>
					<h2 class="bold">$700</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 features">
				<ul class="shadow">
					<h2 class="bold">Aggressive</h2>
					<h2 class="bold">$700</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 features">
				<ul class="shadow">
					<h2 class="bold">Market Leader</h2>
					<h2 class="bold">$700</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 features">
				<ul class="shadow">
					<h2 class="bold">Enterprise</h2>
					<h2 class="bold">$CALL</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
		</div>
	</div>
	{% include footermapless.html %}
</body>
</html>