---
layout: page
title: Brampton Vaughan Website Design, Search Engine Optimization and Digital Marketing
lang: en
ref: website-design
permalink: /website-design/
---
<body>
	{% include menu.html %}
	<div class="jumbotron bg website-design">
		<!-- <h1 class="splash">Website Design</h1>
		<h2 class="splash"><span>Your website is your company's</span><span>first impression, so make it.</span><span>the best.</span></h2> -->
	</div>
	<div class="banner">
		<h2>Fast, modern and elegant websites that increase your brand perception and are easy to use.</h2>
	</div>
	<div class="body-container">
		<div class="row">
			<div class="col-xs-12 serviceHeading">
				<h1>Website Design</h1>
				<h3>At Fivestar Media, we know the best websites should engage the user with compelling content balanced with eye-catching visuals. The website should be optimized to rank well with search engines, work seamlessly across all devices and be easy to use with a fast load time. At Fivestar Media, we know the best websites should engage the user with compelling content balanced with eye-catching visuals.</h3>
				<!-- <h3>At Fivestar Media, we know the best websites should engage the user with compelling content balanced with eye-catching visuals. The website should be optimized to rank well with search engines, work seamlessly across all devices and be easy to use with a fast load time.</h3> -->
			</div>
		</div>
		<div class="row eqHeight icons">
			<div class="col-xs-12 col-md-3">
				<img src="{{ site.baseurl }}/images/responsive.png">
				<h3>Responsive Design</h3>
				<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/content.png">
					<h3>Content Management</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/cloud.png">
					<h3>Cloud Hosted</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/xml.png">
					<h3>XML Sitemap</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/secure.png">
					<h3>Secure</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/analytics.png">
					<h3>Google Analytics</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/copyrighting.png">
					<h3>Copyrighting</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
			<div class="col-xs-12 col-md-3">
					<img src="{{ site.baseurl }}/images/seo.png">
					<h3>SEO Friendly</h3>
					<p class="serviceTextBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. sit amet consectetur elit.</p>
			</div>
		</div>
		<div class="row eqHeight">
			<div class="col-xs-12 col-md-7 featuresPadding">
				<div class="featuresImg">
					<img src="{{ site.baseurl }}/images/responsive-design.png">
				</div>
			</div>
			<div class="col-xs-12 col-md-5 featuresPadding">
				<div class="serviceDetail">
					<!-- <p class="serviceTextBoxHeading">Responsive Design</p> -->
					<h3>Template</h3>
					<p class="serviceTextBox">Did you know that more than 65% of all web traffic is mobile traffic from cell phones and tablets? That's why it's critical that your website not only works perfectly on computers, but also effortlessly across all other devices and browsers.</p>
					<p class="serviceTextBox">All websites developed by Fivestar Media are responsive and designed to work fluidly across cell phones, tablets, computers and even large-screen TV's.</p>
				</div>
			</div>
		</div>
		<!-- <div class="row eqHeight">
			<div class="col-xs-12 col-md-6 featuresPadding">
				<div class="featuresImg">
					<img src="{{ site.baseurl }}/images/static-dynamic-websites.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-md-6 featuresPadding">
				<div class="serviceDetail">
					<p class="toUpper bold serviceTextBox">User Experience</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
				</div>
			</div>
		</div>
		<div class="row eqHeight greyerbg">
			<div class="col-xs-12 col-md-6 featuresPadding">
				<div class="featuresImg">
					<img src="{{ site.baseurl }}/images/brampton.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-md-6 featuresPadding">
				<div class="serviceDetail">
					<p class="toUpper bold serviceTextBox">Compelling Content</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
				</div>
			</div>
		</div> -->
		<!-- <div class="row eqHeight greyerbg">
			<div class="col-xs-12 col-md-6 featuresPadding">
				<div class="featuresImg">
					<img src="{{ site.baseurl }}/images/brampton.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-md-6 featuresPadding">
				<div class="serviceDetail">
					<p class="toUpper bold serviceTextBox">Beautiful Websites</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
					<p class="serviceTextBox">Your website is your company's first impression, so make it the best. Your website is your company's first impression,
						so make it the best. Your website is your company's first impression, so make it the best. Your website is your company's
						first impression, so make it the best.</p>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-xs-12 serviceHeading">
				<h1 class="toUpper bold">Website Prices</h1>
				<h3>ipsum dolor sit amet, consectetur adipisicing elit. Sunt qui aut molestiae mollitia quidem quas rem dolor voluptatibus,
					est unde numquam dignissimos, nesciunt placeat eveniet ex. Esse tempore quod culpa? ipsum dolor sit amet, consectetur
					adipisicing elit. Sunt qui aut molestiae mollitia quidem quas rem dolor voluptatibus, est unde numquam dignissimos,
					nesciunt placeat eveniet ex. Esse tempore quod culpa?</h3>
			</div>
		</div>
		<div class="row eqHeight greyerbg featuresContainer">
			<div class="col-xs-12 col-md-3 features">
				<ul>
					<h2 class="toUpper bold">Template</h2>
					<h2 class="toUpper bold">$700</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 features">
				<ul>
					<h2 class="toUpper bold">Template+</h2>
					<h2 class="toUpper bold">$700</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 features">
				<ul>
					<h2 class="toUpper bold">Custom</h2>
					<h2 class="toUpper bold">$700</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 features">
				<ul>
					<h2 class="toUpper bold">Enterprise</h2>
					<h2 class="toUpper bold">$700</h2>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
					<li>ABC</li>
				</ul>
			</div>
		</div>
	</div>
	{% include footermapless.html %}
</body>
</html>