<div class="menu">
    <ul>
        <li><a href="{{ site.baseurl }}/" class="hvr-underline-from-left">Home</a></li>
        <li><a href="{{ site.baseurl }}/services" class="hvr-underline-from-left">Services</a>
            <ul>
                <li><a href="{{ site.baseurl }}/website-design/" class="hvr-underline-from-left">Website Design</a></li>
                <li><a href="{{ site.baseurl }}/search-engine-optimization-seo/" class="hvr-underline-from-left">SEO</a></li>
                <li><a href="{{ site.baseurl }}/pay-per-click-marketing/" class="hvr-underline-from-left">PPC Marketing</a></li>
            </ul>
        </li>
        <!-- <li><a href="{{ site.baseurl }}/blog/" class="hvr-underline-from-left">Blog</a></li> -->
        <li><a href="{{ site.baseurl }}/contact/" class="hvr-underline-from-left">Contact</a></li>
    </ul>
</div>
<div class="oldNavWrapper oldNav">
    <!-- <div class="logoContainer"> -->
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/fivestarlogobefore.svg" class="logo"></a>
<!-- </div> -->
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="#" onclick="return false;">Services</a>
            <ul>
                <li><a href="{{ site.baseurl }}/website-design/">Website Design</a></li>
                <li><a href="{{ site.baseurl }}/search-engine-optimization-seo/">SEO</a></li>
                <li><a href="{{ site.baseurl }}/pay-per-click-ppc-marketing/">PPC Marketing</a></li>
            </ul>
        </li>
        <!-- <li><a href="{{ site.baseurl }}/blog/" class="hvr-underline-from-left">Blog</a></li> -->
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        <li><a>(416) 464-6573</a></li>
        <li>
            <div class="icon-menu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </li>
    </ul>
</div>

<div class="newNavWrapper newNav">
        <!-- <div class="logoContainer"> -->
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/fivestarlogo.svg" class="logo"></a>
<!-- </div> -->
    <ul>
        <li><a href="{{ site.baseurl }}/" class="hvr-underline-from-left">Home</a></li>
        <li><a href="{{ site.baseurl }}/services/" class="hvr-underline-from-left">Services</a>
            <ul>
                <li><a href="{{ site.baseurl }}/website-design/" class="hvr-underline-from-left">Website Design</a></li>
                <li><a href="{{ site.baseurl }}/search-engine-optimization-seo/" class="hvr-underline-from-left">SEO</a></li>
                <li><a href="{{ site.baseurl }}/pay-per-click-ppc-marketing/" class="hvr-underline-from-left">PPC Marketing</a></li>
            </ul>
        </li>
        <!-- <li><a href="{{ site.baseurl }}/blog/" class="hvr-underline-from-left">Blog</a></li> -->
        <li><a href="{{ site.baseurl }}/contact/" class="hvr-underline-from-left">Contact</a></li>
        <li><a class="telNumber">(416) 464-6573</a></li>
        <li>
            <div class="icon-menuBottom">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </li>
    </ul>
</div>