<div class="menu">

    <ul>
        <li><a href="/" class="hvr-underline-from-left">About</a></li>
        <li><a href="/services" class="hvr-underline-from-left">Services</a>
            <ul>
                <li><a href="/" class="hvr-underline-from-left">Websites</a></li>
                <li><a href="/" class="hvr-underline-from-left">SEO</a></li>
                <li><a href="/" class="hvr-underline-from-left">Digital Marketing</a></li>
                <!-- <li><a href="/" class="hvr-underline-from-left">Logo Design</a></li>
                <li><a href="/" class="hvr-underline-from-left">Graphics Design</a></li>
                <li><a href="/" class="hvr-underline-from-left">E-Commerce</a></li> -->
            </ul>
        </li>

        <li><a href="/blog" class="hvr-underline-from-left">Blog</a></li>
        <li><a href="/contact" class="hvr-underline-from-left">Contact</a></li>
    </ul>
</div>

<nav>
    <a href="/"><img src="{{ site.baseurl }}/images/fivestarlogobefore.svg" height="60px"></a>

    <ul>

        <div class="proto">

            <li><a href="/" class="hvr-underline-from-left">About</a></li>
            <li><a href="/services" class="hvr-underline-from-left">Services</a>
                <ul>
                    <li><a href="/" class="hvr-underline-from-left">Websites</a></li>
                    <li><a href="/" class="hvr-underline-from-left">SEO</a></li>
                    <li><a href="/" class="hvr-underline-from-left">Digital Marketing</a></li>
                    <!-- <li><a href="/" class="hvr-underline-from-left">Logo Design</a></li>
                <li><a href="/" class="hvr-underline-from-left">Graphics Design</a></li>
                <li><a href="/" class="hvr-underline-from-left">E-Commerce</a></li> -->
                </ul>
            </li>

            <li><a href="/blog" class="hvr-underline-from-left">Blog</a></li>
            <li><a href="/contact" class="hvr-underline-from-left">Contact</a></li>
            <li><a class="hvr-underline-from-none">416-464-6573</a></li>
        </div>

        <div class="cross">
            <li>
                <div class="icon-menu">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </li>
        </div>

    </ul>
</nav>

<div class="newNav">
    <a href="/"><img src="{{ site.baseurl }}/images/fivestarlogo.svg" height="60px"></a>
    <ul>

        <div class="proto">
            <li><a href="/" class="hvr-underline-from-left">About</a></li>
            <li><a href="/services" class="hvr-underline-from-left">Services</a>
                <ul>
                    <li><a href="/" class="hvr-underline-from-left">Websites</a></li>
                    <li><a href="/" class="hvr-underline-from-left">SEO</a></li>
                    <li><a href="/" class="hvr-underline-from-left">Digital Marketing</a></li>
                    <!-- <li><a href="/" class="hvr-underline-from-left">Logo Design</a></li>
                            <li><a href="/" class="hvr-underline-from-left">Graphics Design</a></li>
                            <li><a href="/" class="hvr-underline-from-left">E-Commerce</a></li> -->
                </ul>

            </li>

            <li><a href="/blog" class="hvr-underline-from-left">Blog</a></li>
            <li><a href="/contact" class="hvr-underline-from-left">Contact</a></li>
            <li><a class="hvr-underline-from-none">416-464-6573</a></li>
        </div>

        <div class="cross">
            <li>
                <div class="icon-menuBottom">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

            </li>
        </div>
    </ul>

</div>